<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-modal">
            <div class="modal-header">
                <h5 class="modal-title col" id="exampleModalLongTitle">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <img src="{{ character.image }}" class="col-lg-4 col-sm-12">
                    <p class="col align-self-center text-center modal-text">You just found {{ character.name }} !</br></br> He uses {{ skill }} and {{ isGiving }} you {{ number }} points.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok !</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal2">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-modal">
            <div class="modal-header">
                <h5 class="modal-title col" id="exampleModalLongTitle">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <img src="{{ egg.image }}" class="col-lg-4 col-sm-12">
                    <p class="col align-self-center text-center modal-text">You just found {{ size }} {{ egg.name }}!</br></br> You're {{ isWinning }} {{ number }} points.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok !</button>
            </div>
        </div>
    </div>
</div>