{% extends 'layout.html.twig' %}

{% block content %}
    <header>
        <section>
            <div class="jumbotron jumbotron-fluid align-items-center">
                <div class="container-fluid ">
                    <h1 class="h1 jumbotron-title text-center">MacDonald's Big'ol Farm</h1>
                    <p class="jumbotron-text text-center">Come discover the real farm life</p>
                    <div class="text-center arrow-down">
                        <a href="#farm"><img src="/assets/images/arrow-down.png" class="" alt="descendre"></a>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <body>
    <section class="farm" id="farm">

        <div class="container-fluid py-3">

            <div class="row">
                <div class="col-lg-8 col-sm-12 text-center mx-auto">
                    <h2>Who are we ?</h2>
                </div>
            </div>
            <div class="row justify-content-center py-3">
                <div class="col-lg-8 col-sm-12 text-center mx-auto display">
                    <div class="text-center mx-auto">


                        <p>Old MACDONALD had a farm E-I-E-I-O</p>
                        <p>And on his farm he had a cow E-I-E-I-O</p>
                        <p>With a moo moo here</p>
                        <p>And a moo moo there</p>
                        <p>Here a moo, there a moo</p>
                        <p>Everywhere a moo moo</p>
                        <p>Old MacDonald had a farm E-I-E-I-O</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 text-center py-5">
                    <img src="/assets/images/cow1.webp" class="img-thumbnail" alt="Responsive image">
                </div>

            </div>
        </div>
    </section>

    <section class="activities">

        <div class="container-fluid py-3">

            <div class="row">
                <div class="col-lg-8 col-sm-12 text-center mx-auto">
                    <h2>Activities</h2>
                </div>
            </div>
            <div class="row justify-content-center py-3">
                <div class="col-lg-4 col-sm-12 text-center py-5">
                    <img src="/assets/images/pig.webp" class="img-thumbnail" alt="Responsive image">
                </div>
                <div class="col-lg-8 col-sm-12 text-center mx-auto display">
                    <div class="text-center mx-auto">


                        <p>And on his farm he had a pig E-I-E-I-O</p>
                        <p>With a oink oink here</p>
                        <p>And a oink oink there</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="farm" id="farm">

        <div class="container-fluid py-3">

            <div class="row">
                <div class="col-lg-8 col-sm-12 text-center mx-auto">
                    <h2>Our crops</h2>
                </div>
            </div>
            <div class="row justify-content-center py-3">
                <div class="col-lg-8 col-sm-12 text-center mx-auto display">
                    <div class="text-center mx-auto">


                        <p>Old MACDONALD had a farm E-I-E-I-O</p>
                        <p>And on his farm he had some chickens E-I-E-I-O</p>
                        <p>With a cluck cluck here</p>
                        <p>And a cluck cluck there</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 text-center py-5">
                    <img src="/assets/images/chick.webp" class="img-thumbnail" alt="Responsive image">
                </div>

            </div>
        </div>
    </section>

    <section class="container fluid text-center" id="form">
        <div class="form">
            <h2>Come spend Easter weekend with us</h2>
            <form action="" method="POST" novalidate>
                <div class="form-group">
                    <label for="lastName">Lastname</label>
                    <input class="form-control" type="text" name="lastName" id="lastName" required
                           value="{{ lastName }}">
                </div>
                {% if errors.lastName is defined %}
                    <div class="errors">{{ errors.lastName }}</div>
                {% endif %}

                <div class="form-group">
                    <label for="firstName">Firstname</label>
                    <input class="form-control" type="text" name="firstName" id="firstName" required
                           value="{{ firstName }}">
                    <div class="text-danger"><?= $errors['firstName'] ?? '' ?>
                    </div>
                    {% if errors.firstName is defined %}
                        <div class="errors">{{ errors.firstName }}</div>
                    {% endif %}
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Number of person</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="select" required
                                value="{{ select }}">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        {% if errors.select is defined %}
                            <div class="errors">{{ errors.select }}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Would you like to share something with us</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="suggestion" rows="3"
                                      required value="{{ suggestion }}"></textarea>
                            {% if errors.suggestion is defined %}
                                <div class="errors">{{ errors.suggestion }}</div>
                            {% endif %}
                        </div>
                        <button class="btn btn-success"> Reservation request</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    </body>

{% endblock %}
